<% for(var i = 0; i < ItemsList.length; i++) { %>
    <tr>
        <td><%= i + 1 %></td>
        <td><%= item[i].name %></td>
        <td><%= item[i].category %></td>
        <td><%= item[i].location %></td>
        
        <td>
            <a href="/update-user?id=<%= users[i]._id%>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a class="btn border-shadow delete" data-id=<%= users[i]._id%> >
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>
    </tr>
    <% } %>